{
  "parser": "babel-eslint",
  "extends": "eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "prefer-arrow-callback": false
  },
  "rules": {
    "strict": 0,
    "no-var": 2,
    "comma-dangle": [2, "never"],
    "no-cond-assign": [2, "always"],
    "no-console": 0,
    "no-debugger": 1,
    "no-alert": 0,
    "no-constant-condition": 1,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 0,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 1,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-obj-calls": 2,
    "quote-props": 0,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "block-scoped-var": 2,
    "quotes": [1, "single", {
      avoidEscape: true,
      allowTemplateLiterals: true
    }],
    "no-shadow": 0,
    "no-shadow-restricted-names": 2,
    "no-unused-vars": [0, {
        "vars": "local",
        "args": "after-used"
    }],
    "no-use-before-define": 2,
    "consistent-return": 0,
    "complexity": [2, 18],
    "curly": [2, "multi-line"],
    "default-case": 2,
    "dot-notation": [2, {
        "allowKeywords": true
    }],
    "eqeqeq": 2,
    "guard-for-in": 0,
    "no-caller": 2,
    "no-else-return": 0,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 1,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-param-reassign": 0,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-with": 2,
    "radix": 2,
    "vars-on-top": 0,
    "wrap-iife": [2, "any"],
    "yoda": 2,
    "indent": 0,
    "brace-style": [2,
    "1tbs", { "allowSingleLine": true }],
    "camelcase": [2, { "properties": "never" }],
    "comma-spacing": [2, { "before": false, "after": true }],
    "comma-style": [2, "last"],
    "eol-last": 0,
    "key-spacing": [2, {
        "beforeColon": false,
        "afterColon": true
    }],
    "new-cap": [2, {
        "newIsCap": true
    }],
    "no-multiple-empty-lines": [0, {
        "max": 2
    }],
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-extra-parens": 0,
    "no-underscore-dangle": 0,
    "one-var": [0, "never"],
    "padded-blocks": 0,
    "semi": [2, "always"],
    "semi-spacing": [2, {
        "before": false,
        "after": true
    }],
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "space-infix-ops": 2,
    "keyword-spacing": 2,
    "spaced-comment": 0,
    "global-require": 0,
    "no-prototype-builtins": 0,
    "no-plusplus" : [2, {
        allowForLoopAfterthoughts : true
      }
    ],
    "no-unsafe-finally": "off",
    "arrow-body-style": 0
  }
}
